h1,h2,h3 {
    text-align: center;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/chalkboard.jpg);
    top:0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}

.hero-text {
    font-family: "Schoolbell", Fallback, sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    height: auto;
    width: 100%;
    font-size: 35px;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    font-family: "Schoolbell", Fallback, sans-serif;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

html {
    background-color: #d1d1e0;
    max-width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    color: black;
    font-family: "Schoolbell", Fallback, sans-serif;
}

.main-body {
    font-family: "Schoolbell", Fallback, sans-serif;
    height: 100%;
    margin: 0;
}

main {
    display: inline-block;
    width: 100%
}


